<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="keywords" content="">
<meta name="description" content="">
<title>我的音乐</title>

{% load static %}
    <link type="image/x-icon" rel="shortcut icon" href="{% static "favicon.ico" %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/common.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/change.css" %}" />
    <style>
        .wrapper {
    width: 980px;
    margin: 0 auto
}
        .header {
    height: 56px;
    padding: 30px 0
}

.header .logo {
    float: left;
    width: 218px;
    height: 56px;
    margin: 0 18px 0 0;
    overflow: hidden;
    font-size: 24px;
    color: #30C37E;
}

.header .logo-tip {
    float: left;
     margin: 80px 80px 0;
    font: 40px/34px "Microsoft YaHei", arial;
    color: #30C37E;

}


    </style>
</head>
<body>
<div class="wrapper">
    <div class="header clearfix">
        <a href="/" class="logo">我的音乐</a>
        <span class="logo-tip">Hi,我的音乐欢迎您!</span>
    </div>
</div>
<div class="control" style="border: 3px solid #30C37E">
    <div class="item" style="margin-bottom: 10px;">
        <div>登录</div><div class="active" style="background-color: #30C37E">注册</div>
    </div>
    <div class="content" >
        <form action="/user/register.html" method="post">
            {% csrf_token %}
        <div style="display: block;">
            <input type="text" placeholder="请输入用户名" name="username" style="margin-bottom: 10px"/> <br/>
            <input type="text" placeholder="请输入邮箱" name="mail" id = "mail" style="margin-bottom: 10px"><br>
             <input type="text" placeholder="请输入验证码" name="code" id ="code" style="margin-bottom: 10px;width: 160px;">
            <span id="code-btn" style="height:40px; font-size: 28px;margin-left: 30px;color: #30C37E" >发送</span><br>
            {{ tips }}
            <input type="password" placeholder="请输入密码" name="password" style="margin-bottom: 10px"/> <br/>
            <br/>
            <input type="submit" value="注册"/>
        </div>
        </form>
    </div>
</div>
<script src="{% static "js/change.js" %}"></script>
  <script src="{% static "js/jquery-3.3.1.js"  %}" type="text/javascript" charset="utf-8"></script>
<script>
    $("#code-btn").click(function (){
        var mail = $("#mail").val()

        $.ajax({
            type:"get",
            url:'/user/send/',
            data:{
                mail:mail,
            },
            success:function(){
                alert("验证码已经发送")
            },
            error:function(){
                alert("发送失败")
            }
        })
    });
</script>
</body>
</html>